<header id="masthead" class="main-header" role="banner">
    <div class="pageHeader">
        <div class="row">
            <div class="site-branding col-md-3">

                <h1 class="logo">
                    <a href="index.html">
                        <img src="/img/logo.svg" alt="plasma-mobile | Plasma in your pocket">
                    </a>
                </h1>

            </div>
            <!-- .site-branding -->

            <nav id="site-navigation" class="main-navigation col-md-9" role="navigation">
                <div>
                    <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                        <div class="mega-menu-toggle" tabindex="0">
                            <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-1' id='mega-toggle-block-1'></div>
                        </div>
                        <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="disabled" data-effect-speed="200" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="991" data-unbind="true">
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/index.html" tabindex="0">Home</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/vision" tabindex="0">Vision</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/overview" tabindex="0">Technology</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/get" aria-haspopup="true" tabindex="0">Getting Plasma Mobile</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/tips" tabindex="0">Tips</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/blog" tabindex="0">Blog</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="dashicons-megaphone mega-menu-link" href="https://forum.kde.org/viewforum.php?f=293" tabindex="0">Forums</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- site-navigation -->
        </div>
    </div>
</header>
<!-- masthead -->
