<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/plugins/wp-video-lightbox/css/prettyPhoto.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/wp-video-lightbox/wp-video-lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/siteorigin-panels/css/front-flex.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/maxmegamenu/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/themes/quest/assets/css/plugins-all.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/themes/plasma-min/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fonts.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/easy-table/themes/default/style.css' type='text/css' media='all' />

    <!-- Java-Script -->
    <script type='text/javascript' src='/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/plugins/wp-video-lightbox/js/jquery.prettyPhoto.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        	var vlpp_vars = {"prettyPhoto_rel":"wp-video-lightbox","animation_speed":"fast","slideshow":"5000","autoplay_slideshow":"false","opacity":"0.95","show_title":"false","allow_resize":"true","allow_expand":"false","default_width":"1280","default_height":"720","counter_separator_label":"\/","theme":"dark_square","horizontal_padding":"20","hideflash":"false","wmode":"opaque","autoplay":"false","modal":"false","deeplinking":"false","overlay_gallery":"true","overlay_gallery_max":"30","keyboard_shortcuts":"true","ie6_fallback":"true"};
        	/* ]]> */
    </script>
    <script type='text/javascript' src='/plugins/wp-video-lightbox/js/video-lightbox005e.js'></script>
    <script type='text/javascript' src='/js/imagesloaded.min.js'></script>
    <script type='text/javascript' src='/js/masonry.min.js'></script>
    <script type='text/javascript' src='/themes/quest/assets/js/quest-and-plugins.js'></script>
    <style>
        .post-thumbnail img[src$='.svg'] { width: 100%; height: auto; }
    </style>
    <link rel="shortcut icon" href="/favicon.png" />

    <!-- Bundled inline stylesheets-->
    <link rel="stylesheet" href="/css/main.css" />
</head>
