{% include head.html %}

<body class="home page-template-default page page-id-29 wide siteorigin-panels siteorigin-panels-before-js siteorigin-panels-home mega-menu-primary">

    {% include header.html %}

    <div id="content">

        <div class="quest-row site-content">
            <div class="container">
                <div class="row">

                    <div id="primary" class="content-area single col-md-12">
                        <main id="main" class="site-main" role="main">

                            <article id="post-29" class="post-29 page type-page status-publish hentry">
                                <header class="entry-header">

                                    <h1 class="post-title entry-title"><a href="index.html" rel="bookmark">Home</a></h1>

                                </header>
                                {{ content }}
                                <footer class="entry-footer">
                                </footer>
                                <!-- .entry-footer -->
                            </article>
                            <!-- #post-## -->

                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->

                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </div>
        <!-- .quest-row -->
    </div>
    <!-- #content -->

    {% include footer.html %}

</body>

<script type='text/javascript' src='/js/hoverIntent.minc245.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    		var megamenu = {"timeout":"300","interval":"100"};
    		/* ]]> */
</script>
<script type='text/javascript' src='/plugins/megamenu/js/maxmegamenu7793.js'></script>
<script type='text/javascript' src='/js/wp-embed.min20fd.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    		var panelsStyles = {"fullContainer":"body"};
    		/* ]]> */
</script>
<script type='text/javascript' src='/plugins/siteorigin-panels/js/styling-2516.min60a8.js'></script>
<script type="text/javascript">
    document.body.className = document.body.className.replace("siteorigin-panels-before-js","");
</script>
<a href="#0" class="cd-top"><i class="fa fa-angle-up"></i></a>

</html>
